.header {
    height: $altura-bloque;
    .logotipo, .menu-principal {
        height: 100%;
    }
    .logotipo-inner, .menu-principal {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .menu-principal {
        justify-content: flex-end;
        ul {
            margin-bottom: 0;
        }        
    }
}
